@use '@floaterest/color' as *;
@use 'sass:color';
@use '@material/theme/color-palette';

@use '@material/theme' as theme with ($primary: $teal,
	$secondary: $darker,
	$surface: $darkest,
	$background: $black,
	$error: $pink,
);

html {
	background: theme.$background;
	color: $white;
}
